<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
  		<servlet-name>my</servlet-name>
  		<servlet-class>myProject.myServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>my</servlet-name>
  		<url-pattern>/my</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>endServlet</servlet-name>
  		<servlet-class>myProject.endServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>endServlet</servlet-name>
  		<url-pattern>/endServlet</url-pattern>
  </servlet-mapping>
</web-app>