<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookStore_spring</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>pages/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>bookFilter</display-name>
    <servlet-name>bookFilter</servlet-name>
    <servlet-class>servlet.bookFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookFilter</servlet-name>
    <url-pattern>/bookFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>client_servlet</display-name>
    <servlet-name>client_servlet</servlet-name>
    <servlet-class>servlet.client_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>client_servlet</servlet-name>
    <url-pattern>/client_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchBook</display-name>
    <servlet-name>searchBook</servlet-name>
    <servlet-class>servlet.searchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchBook</servlet-name>
    <url-pattern>/searchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeSelected</display-name>
    <servlet-name>removeSelected</servlet-name>
    <servlet-class>servlet.removeSelected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeSelected</servlet-name>
    <url-pattern>/removeSelected</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>encodingFilter</display-name>
    <filter-name>encodingFilter</filter-name>
    <filter-class>filter.encodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>login_register</display-name>
    <servlet-name>login_register</servlet-name>
    <servlet-class>servlet.login_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_register</servlet-name>
    <url-pattern>/login_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cheack_Code</display-name>
    <servlet-name>cheack_Code</servlet-name>
    <servlet-class>servlet.cheack_Code</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cheack_Code</servlet-name>
    <url-pattern>/cheack_Code</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.textproducer.font.names</param-name>
      <param-value>楷体</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kaptcha</servlet-name>
    <url-pattern>/kaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectPage</display-name>
    <servlet-name>selectPage</servlet-name>
    <servlet-class>servlet.selectPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectPage</servlet-name>
    <url-pattern>/selectPage</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>login_filter</display-name>
    <filter-name>login_filter</filter-name>
    <filter-class>filter.login_filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>login_filter</filter-name>
    <url-pattern>/login_filter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>select_page</display-name>
    <servlet-name>select_page</servlet-name>
    <servlet-class>servlet.select_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>select_page</servlet-name>
    <url-pattern>/select_page</url-pattern>
  </servlet-mapping>
</web-app>